.body-container-javier {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-size: cover;
  /* Abarca todo */
  background-position: center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.pexels.com/photos/165754/pexels-photo-165754.jpeg") no-repeat center center/cover;
}

.doctor-container {
  max-width: 1100px;
  margin: 60px auto;
  padding: 40px;
  background-image: url('https://images.pexels.com/photos/7135037/pexels-photo-7135037.jpeg');
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  backdrop-filter: blur(4px);
}


/* Card */
.doctor-card {
  display: flex;
  background: rgba(255, 255, 255, 0.93);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}


.doctor-img {
  width: 45%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.95);
}


.doctor-info {
  width: 55%;
  padding: 40px;
}


.doctor-info h1 {
  font-size: 2.3rem;
  font-weight: 700;
  color: #1a1a1a;
}


.subtitle {
  font-size: 1.2rem;
  color: #555;
  margin-top: 6px;
}


.doctor-info p {
  margin-top: 18px;
  line-height: 1.7;
  font-size: 1rem;
  color: #444;
}


.doctor-info h2 {
  margin-top: 28px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #222;
}


.doctor-info ul {
  margin-top: 12px;
  padding-left: 20px;
}


.doctor-info ul li {
  margin-bottom: 8px;
  font-size: 1rem;
  color: #444;
}


/* Responsivo */
@media (max-width: 850px) {
  .doctor-card {
    flex-direction: column;
  }


  .doctor-img {
    width: 100%;
    height: 300px;
  }


  .doctor-info {
    width: 100%;
    padding: 30px;
  }
}

.btn-volver {
  display: block;
  width: 25%;
  margin-top: 2rem;
  padding: 0.9rem;
  background: linear-gradient(135deg, #0b4191, #86a3d3);
  color: #fff;
  border: none;
  border-radius: 14px;
  font-weight: 700;
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(11, 94, 215, 0.35);
  transition: all 0.3s ease;
  text-align: center;
}

.btn-volver:hover {
  background: linear-gradient(135deg, #0949ad, #083e97);
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(9, 73, 173, 0.4);
}

.btn-volver:active {
  transform: translateY(-1px);
  box-shadow: 0 3px 8px rgba(9, 73, 173, 0.35);
}